
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
	width: 100%;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

header{
	display: flex;
}
.wolf{
	height: 253px;
    margin: 18px auto;
}

.card {
  box-shadow: 3px 4px 2px 2px #111111a8;
  transition: 0.3s;
  height: 376px;
  margin:40px 38px 20px 38px;
  border-radius: 5px;
  background-color: #FBEFBE;
}

.card p {
	color: #151515;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 22px;
	text-align: center;
	margin: 5px;
	margin: 0px 5px 20px;
	text-shadow: 2px 2px #deb887ba;
}

.card h2 {
	font-family: 'DM Serif Display', serif;
	color: #151515;
	font-size: 30px; 
	text-align: center;
	text-shadow: 3px 3px #f2fdf8ab;
	background-color: #2f4f4fbf;
    width: 150px;
    border-radius: 0px 6px 10px 0px;
    margin-bottom: 10px;
}

footer{
	margin-top: 72px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}
.bottom {
	margin-left: 4%;
	color: #151515; 
	text-decoration: none;
}

.clear-fix{
	clear:both;
}

abbr[title] {
	text-decoration: none;
}

@media only screen and (min-width:426px){
	
	.card {
		height: 272px;
	}
	.bottom {
		margin-left: 4%;
		color: #151515; 
		text-decoration: none;
		font-size: 1em;
	}
}

@media only screen and (min-width:900px){
	body{
		width: 100%;
	}
	.wolf{
		height: 249px;
		margin-bottom: 50px;
	}
	main{
		display: flex;
		margin: auto;
	}
	.card{
		height: 356px;
		width: 269px;
		margin: auto;
	}
	footer{
		margin-top: 52px;
	}
}

@media only screen and (min-width:1025px){
	body{
		width: 100%;
	}
	main{
		margin: auto;
    	width: 1024px;
	}
	.card{
		height: 356px;
	}
	.bottom {
    	margin-left: 2%;
	}
}