@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
	width: 100%;
	background-color: #060C14;
	margin: 0;
}

/* HEADER */
#garras_titulo {
	display: flex;
	background-color: #880303cc;
	border-color: #fcbf49;
	box-shadow: 0px 7px 32px #fcbf49;
	border-radius: 5px 1px 125px 125px;
	width: 100%;
	margin: auto;
	height: 82px;
}

.garras{
	display: none;
}

.titulo {
	font-family: 'Faster One', cursive;
	font-family: 'Trade Winds', cursive;
	font-size: 43px;
	color: #0f0f15;
	margin: auto;
	text-shadow: 1px 1px 2px #0affe8, 0 0 25px #0affe8, 0 0 5px #0affe8;
	float: left;
	padding: 9px;
}

/* MAIN */
main{
	margin: auto;
	margin-top: 86px;
	width: 100%;
    padding: 0;
	
}

.card{
	width: 90%;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

.titulo_1{
	color: #FCBF49;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 3px #a52a2a;
	margin-top: 1.5em;
}

.card p{
	color: #FCBF49;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	text-shadow: 1px 1px brown;
	width: 100%;
	margin: auto;
}

.card img{
	width: 90%;
	border-radius: 5%;
	box-shadow: 15px 10px 25px #C70039;
}

footer{
	text-align: center;
	width: 100%;
	background-color: #880303cc;
	padding-top: 15px;
	padding-bottom: 15px;
}

.bottom {
	margin: 10px;
	color: #16F6E2; 
	text-decoration: none;
}

.tooltips{
	text-decoration: none;
}

abbr[title] {
	text-decoration: none;
}



@media only screen and (min-width:640px){

	#garras_titulo {
	    /* overflow: hidden; */
	    background-color: #060C14;
		border-radius: 5px 1px 125px 125px;
		box-shadow: 0px 5px 30px #fcbf49;
		border-style: groove;
		height: 35vh;
		width: 99%;
		padding: 25px 0px 22px 0px;
		border-width: thin;
	}

	.garras{
		display: flex;
	    width: 25%;
		margin: 0;
		padding: 0;
	}

	.garras_izquierda{
		 /*transform: rotate(-11deg); */
	}

	.garras_derecha{
		/* transform: rotate(10deg); */
	}

	.titulo {
		color: #cd9524;
		text-shadow: 6px 6px 10px #03ffe8;
		margin:auto;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		font-size:3rem;
		width: 50%;
	}

	.titulo_1{
    	text-shadow: 3px 2px #a52a2a;
	}

	.card p{
		text-shadow: 1px 2px #a52a2a;
		/* margin-top: 15px; */
	}

}


@media only screen and (min-width:992px){
	main{
		display: flex;
	}
	.titulo{
		font-size:4.5rem;
	}
	.titulo_1{
		text-shadow: 3px 2px #a52a2a;
	}

	.card{
		margin-top: 0;
    	display: inline-flex;
    	flex-direction: column;
    	align-items: center;
		width: 25%;
    	/* margin-left: 2.5em; */
    	/* margin-bottom: 5em; */
	}

}